:root{
    --cor-primaria: #bb3d03 ;
    --cor-fonte: #d6d2d2;
}

.line-up{
    --cor-primaria:#054EF2
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    position: relative;
}
header{
    width: 100%;
  display: flex;
  justify-content: space-around;
  height: 64px;
  align-items: center;
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, black, #00000031);
}

header nav{
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding-left: 9%;
}

/* header nav:hover a{
    color: #ffffff5b;
    border-bottom: #bb3d0380 2px solid;
} */


header nav a{
    border-bottom: var(--cor-primaria) 2px solid;
    text-transform: uppercase;
}

/* header nav a:hover{
    color: var(--cor-primaria);
    border-bottom: var(--cor-primaria) 2px solid;
} */


.logo{
    height: 80%;
}

a{
    text-decoration: none;
    color: var(--cor-fonte)
}

a:hover{
    color: var(--cor-primaria);
}

.dropdown-header{
    width: 13%;

}

.dropdown-header button{
    background-color: #e9e9e915;
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--cor-primaria);
    font-weight: 600;
}

.dropdown-header-content{
    width: 13%;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.dropdown-header-content a{
    color: var(--cor-fonte);
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    background-color: #cacaca1f;
}
.dropdown-header-content a:hover{
    color: var(--cor-primaria);
}

.dropdown-header:hover .dropdown-header-content{
    display: flex;
}

main{
    margin-top: 64px;
    padding-bottom: 100px;
}

.welcome{
    background-image: url("imgs/backbround-index.jpeg");
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.welcome h1{
    color: var(--cor-primaria);
    margin-top: 300px;
    font-size: 40px;
}

.frase{
    background-color: black;
    color:var(--cor-fonte) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.svg-aspas path{
    fill: var(--cor-primaria);
}

.svg-aspas{
    margin-top: 80px;
}

.frase h2{
    width: 40%;
   font-weight: 100;
   text-align: center;
   margin-top: 40px;
   border-bottom: var(--cor-primaria) 2px dashed;
    padding-bottom: 16px;
}

.frase h3{
    margin-top: 20px;
    font-size: 30px;
}

.frase h4{
    margin-top: 20px;
    color: var(--cor-primaria);
}

footer{
    width: 100%;
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.social-media-container{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--cor-fonte);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.lineup-section{
    background-image:url("/imgs/lineup-bakcground.png") ;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lineup-section h1{
    color: var(--cor-primaria);
    margin-top: 260px;
    font-weight: 100;
    font-size: 40px;
    opacity: 0.9;
}

.lineup-section button{
    color: var(--cor-primaria);
    padding: 8px 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
}

.lineup-section button:hover{
    background: #00000030;
}

.lineup-section button svg{
    margin-left: 8px;
    fill: var(--cor-primaria);
}

.lineup-section .data-content{
    justify-content: space-between;
    width: 35%;
    margin-top: 20px;
    
}

.hide{
    display: none;

}

.lineup-section .data-content a{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 10px;
    border-radius: 8px;
}

.lineup-section .data-content a:hover{
    background-color: white;
}

